.newNoteContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.editTitle,
.editContent {
  border: none;
  outline: none;
  background-color: rgba(2, 3, 11, 0);
  border-radius: 0.5rem;
  padding: 0.6rem;
  width: 100%;
}
.editContent {
  resize: none;
  font-size: 1rem;
}
.editTitle {
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.editTitle:hover,
.editTitle:focus,
textarea:hover,
textarea:focus {
  background-color: #1c202e;
}
textarea::-webkit-scrollbar {
  width: 0.15rem;
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgb(170, 170, 170);
  border-radius: 0.5rem;
}
.actionButton:disabled {
  background-color: rgba(139, 139, 139, 0.301);
  transition: 0.3s;
}
