.btnContainer {
  width: 100%;
}
.btnContainer .button {
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  height: 4rem;
  background-color: rgb(204, 171, 10);
  color: #1c202e;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnContainer .button:hover {
  box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, 0.2);
}
.btnContainer .button:active {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.btnContainer .button:disabled {
  background-color: rgb(126, 126, 126);
  box-shadow: none;
}
