.header {
  min-height: 70px;
  max-height: 10vh;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 3, 11, 0.972);
  position: fixed;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}
.fakeHeader {
  height: 10vh;
}
.logOut {
  font-size: 1.2rem;
  height: 100%;
  max-height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer; 
  background-color: rgb(204, 171, 10);
  color: #1c202e;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  padding-bottom: 0.6rem;
}
.logOut:hover {
  box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, 0.2);
}
.logOut:active {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 0;
}
.logOut i {
  color: #1c202e;
}
.logo {
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
}
.yellow {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  color: rgb(204, 171, 10);
}

@media (max-width: 700px) {
  .header{
    padding: 0 1rem;
  }
  .logOut {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
  }
  .logo {
    font-size: 1.3rem;
  }
}
