.input-field {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid #1c202e;
  border-radius: 0.5rem;
  background-color: #1c202e;
}
.input-field:hover {
  border: 2px solid #3f3f3f;
  transition: 0.4s;
}
.input-field input {
  background-color: rgba(2, 3, 11, 0);
  border: none;
  font-weight: bold;
  width: 100%;
  color: #dfdfdf;
  outline: none;
  height: 4rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}
.input-field input::placeholder {
  color: #797979;
  font-family: gothamLight;
}
.input-field i {
  margin-left: 1.2rem;
  color: #797979;
}
.error {
  color: rgb(180, 0, 0);
  font-weight: bold;
  align-self: self-start;
  font-size: 0.9rem;
}

/* Fix para autofill de credenciales de chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(2, 3, 11, 0) inset;
  -webkit-text-fill-color: #ffffff;
  caret-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}