.loginContainer {
  height: 100dvh;
  background-color: rgba(2, 3, 11, 0.972);
}
.formContent {
  max-width: 700px;
  width: 100%;
  padding: 9rem 2rem 0;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.welcome {
  font-family: gothamMedium;
  font-size: 1.8rem;
  font-weight: bold;
}
.subtitle {
  padding-bottom: 2rem;
}
.createAccount {
  text-decoration: none;
  color: rgb(224, 187, 0);
  margin-top: 0.5rem;
  font-weight: bold;
}
.createAccount:hover {
  color: rgb(197, 164, 0);
}
.apiError{
  align-self: center;
}
.success{
  color: green;
  font-weight: bold;
}

@media (max-width: 400px) {
  .welcome {
    font-size: 1.5rem;
  }
  .createAccount {
    font-size: 0.9rem;
  }
}
