.loginContainer {
  min-height: 100vh;
  height: 100%;
  background-color: rgba(2, 3, 11, 0.972);
}
.formContent {
  max-width: 700px;
  width: 100%;
  height: 100%;
  padding: 7rem 2rem;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.welcome {
  font-family: gothamMedium;
  font-size: 1.7rem;
  font-weight: bold;
}
.subtitle {
  padding-bottom: 2rem;
}
.createAccount {
  text-decoration: none;
  color: rgb(224, 187, 0);
  margin-top: 0.5rem;
  font-weight: bold;
}
.createAccount:hover {
  color: rgb(197, 164, 0);
}
.apiError{
  align-self: center;
}
.success{
  color: green;
  font-weight: bold;
}

@media (max-width: 500px) {
  .formContent{
    padding: 4rem 2rem;
  }
  .createAccount {
    font-size: 0.9rem;
  }
}
