.navbarr {
  height: 10dvh;
  width: 100%;
  background-color: rgba(2, 3, 11, 0.972);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.loginNavbar {
  height: 10dvh;
  width: 100%;
  background-color: rgba(2, 3, 11, 0.972);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  position: fixed;
  display: flex;
  justify-content: center;
}
.fakeNav {
  height: 10dvh;
  background-color: rgba(2, 3, 11, 0.972);
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
.navLoginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logOutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.logOut {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  width: 50px;
  background-color: rgb(204, 171, 10);
  color: #1c202e;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logOut:hover {
  box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, 0.2);
}
.logOut:active {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.logOut i {
  color: #1c202e;
}
.brand {
  display: flex;
  font-size: 25px;
  color: white;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.yell {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 15px;
  color: rgb(204, 171, 10);
}
@media (max-width: 700px) {
  .logOut {
    height: 35px;
    width: 35px;
    font-size: 14px;
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
  }
  .brand {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .brand {
    font-size: 19px;
  }
  .yell {
    margin-top: 17px;
  }
}
