@font-face {
  font-family: gothamBook;
  src: url(/fonts/GothamBook.ttf) format("truetype");
}
@font-face {
  font-family: gothamMedium;
  src: url(/fonts/GothamMedium.ttf) format("truetype");
}
@font-face {
  font-family: gothamBookItalic;
  src: url(/fonts/Gotham-BookItalic.otf) format("truetype");
}
@font-face {
  font-family: gothamLight;
  src: url(/fonts/Gotham-Light.otf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ececec;
  font-family: gothamBook, sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(2, 3, 11, 0.972);
}
body::-webkit-scrollbar-thumb {
  background-color: #1c202e;
  border-radius: 10px;
  border-right: 2px solid rgba(2, 3, 11, 0.972);
}

